@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  font-family: "Exo", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* EXO font hook */
:root {
  --font-exo: var(--font-exo);
}

/* ===== HERO LUXURY ANIMATIONS ===== */

@keyframes fadeUp {
  from {opacity:0; transform:translateY(30px);}
  to {opacity:1; transform:translateY(0);}
}

@keyframes fadeLeft {
  from {opacity:0; transform:translateX(-40px);}
  to {opacity:1; transform:translateX(0);}
}

@keyframes zoomHero {
  0% {transform:scale(1);}
  100% {transform:scale(1.05);}
}

@keyframes shine {
  0% {background-position:-200px;}
  100% {background-position:200px;}
}

input[type="date"],
input[type="time"]{
  color-scheme: dark;
}

.fleetSwiper .swiper-slide{
opacity:.35;
transform:scale(.82);
transition:all .5s ease;
}

.fleetSwiper .swiper-slide-active{
opacity:1;
transform:scale(1);
}

.fleetSwiper .swiper-slide-active .swiper-slide-inner{
border:1px solid #CD9A31;
box-shadow:0 0 35px rgba(205,154,49,.35);
}
/* 🔥 SWIPER BADGE FIX */
.fleetSwiper .swiper-slide{
  overflow: visible !important;
}

.fleetSwiper{
  padding-top: 40px !important;
}

.stroke-text{
-webkit-text-stroke:1px #CD9A31;
}